//script(type='text/javascript')
//    window.env = window.env || {}
!= script("//cdn.#{domain}/js/basket.js")
!= script("//cdn.#{domain}/js/libs/swfobject/swfobject.js")
!= script("//cdn.#{domain}/js/json.js")
!= script("//cdn.#{domain}/js/common.js")
!= script("//cdn.#{domain}/js/libs/bootstrap/bootstrap-button.js")
!= script("//cdn.#{domain}/js/libs/bootstrap/bootstrap-tooltip.js")
!= script("//cdn.#{domain}/js/underscore.js")
!= script("//cdn.#{domain}/js/backbone.js")
!= script("//cdn.#{domain}/js/short/app.js")
!= script("//cdn.#{domain}/js/badbrowser.js")
!= script("//cdn.#{domain}/js/libs/zero.clipboard/ZeroClipboard.js")
!= script("//cdn.#{domain}/js/libs/zero.clipboard/ZeroClipboard.init.js")
!= script("//cdn.#{domain}/js/libs/jquery.cookie/jquery.cookie.js")
!= script("//cdn.#{domain}/js/uservoice.js")
!= scripts("//cdn.#{domain}/js/scripts.js")